<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    {% if current_user.is_authenticated %}
    {% endif %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}

</div>

</body>
</html>